.section-1{
    /* background: grey; */
    padding-left: 10%;
    padding-right:10% ;
}

.button {
    background-color: #c4c4c4;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
  }

nav{
    background-color: white;
}
.section-1{
    margin-top: 7%;
    padding: 0 0 0 20%;
}

.facts{
    /* margin-left: 15px; */
}
.support{
    color: gray;
    width: auto;
    font-size: small;
}
.time{
    color: green;
    font-size: small;

}
.icon{
    width: 20%;
    padding-top: 20px;
    padding-left: 10px;

}
.booking{
    /* margin-top: 9%; */
    border-radius: 30px;
    display: inline-flex;
}

.coupe{
    padding-top:10px;
}
/* .coupe :hover{ */
    /* background-color: yellowgreen; */
    /* display: inline-flex; */
    

.count{
    margin-left: 65%;
    text-align: right;
    background-color: rgb(241, 241, 241);
    border-radius: 70%;
    padding: 10px;
    color: rgb(167, 167, 167);
}
.topic{
    font-weight: bolder;
}
.hello{
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;

}
#signup{
    background-color: green;
    color: white;
}

#login{
background-color: #f5efef;
}

.health{
    background-color: WHITE;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
}
.health-sub{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(63, 63, 63);
    font-size: 18px;
}
.health-section{
    margin-top: 4%;
    /* padding: 0 1    0 0 20%; */
    margin-left: 20%;
    margin-bottom: 10%;
    /* margin-right: 44px; */
}

.main{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(63, 63, 63);
    font-size: 18px;
}

.coupe :hover{
    background-color: rgb(201, 201, 201);
}

.booking{
    padding: 20px;
}

.options{
    padding: 30px;
}


.dynamic-page{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Messages{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px; */
    /* padding: 10px 30px 10px 30px ; */
}


.me{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px; */
    /* padding: 10px 30px 10px 30px ; */
}

.insurance{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#modal{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.Payment{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

.switchPatient{
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pro{
    border-bottom: 1px solid rgb(134, 134, 134);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    background-color: white;
}


.send{
    border-bottom: 1px solid rgb(134, 134, 134);
    padding-top: 15px;
    padding-bottom: 15px;


}

.pic{
    border-radius: 50%;
    width: 40%;
}

.picholder{
    width: 10%;
}
.content{
    padding-left:50px;
    /* padding-right:10px; */
}
.time{
    margin-right: 0;
}

.content-head{
    font-size: large;
}

.content-body{
    color: grey;
}


  .hospital{
      width: 100%;
      border-radius: 30px;
      /* background-image: url(Montfort_Hospital_Aerial_View.jpeg); */
      background-color: black;
      height: 300px;

  }

  .notify{
      font-weight: lighter;
      font-size: small;
      text-align: center;
      padding-top: 20px;
  }
  a:hover{
    text-decoration: none;
  }

#auth-yes{
    padding-bottom: 0;
}
  


#auth-no{
    display: none;
}

.active{
    border-bottom: 3px solid turquoise;
    color: turquoise    ;

}

.profile{
    border-radius: 60%;
    color: white;
    background-color: turquoise ;
    padding: 10px;
    font-weight: bold;
    /* border-bottom: 1px solid blue; */

}

.person{

}

.profile-support{
    font-size: large;
    font-weight: lighter;
}

.self-card{
    background-color: green;
    width: 30%;
    margin: auto;
    vertical-align: middle;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid turquoise;
    background-color: white;
    margin-top: 10%;
}

.self-button{
        background-color: blue;
        /* border: none; */
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        position: fixed;
        bottom: 0;
        width: 100%;

    }

    .toogles{
        /* margin-right:25%; */
        width: 30%;
        text-align: center;
        padding-left:auto;
        padding-top: 30px;
    }

    .toogle-support{
        color: black;
        border-bottom: 0px solid green;

    }

    .account-span{
        text-align: right;
        margin-right: auto;
    }

    .holder{
        margin-top: 5%;
    }

    .dialogue{
        width: 20%;
        background-color: white;
        /* border-radius: 5px;       */
        margin: auto;
        margin-top: 20%;
        
        /* padding: 30px; */
    }
    .main-text{
        margin: auto;
        font-size: large;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .iButton{
        background-color: white;
        /* border: 1px solid turquoise; */
        border: none;
        color: turquoise;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        /* border-radius: 26px; */
        width: 100%;
        border-top: 1px solid rgb(212, 212, 212);
    }

    .avatar-circle {
        width: 50px;
        height: 50px;
        background-color: turquoise;
        text-align: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
      }

      #avatar-nav{
          width: 40px;
          height: 40px;
      }

      .initials {
        position: relative;
        top: 0px; /* 25% of parent */
        font-size: 19px; /* 50% of parent */
        line-height: 50px; /* 50% of parent */
        color: #fff;
        font-family: "Courier New", monospace;
        font-weight: bold;
      }

      #initials-nav{
          font-size: 15px;
          line-height: 40px;
      }

      .middle{
          position: absolute;
          left: 20%;
          top: 30%;
          width: 60%;
          text-align: center;
      }

      .bottom{
          position: absolute;
          bottom: 0;
          left: 45%;
          text-align: center;

      }
      .username{
        width: 100%;
        background-color: turquoise;
        border: 1px solid grey;
        min-height:30px ;
        border-radius: 10px;
        text-align: center;    
      }

      .login{
          position: absolute;
          bottom: 0;
          left: 0%;
          right: 0%;
          width: 100%;
          background-color: turquoise;
          height:40px ;
          color: white;
          /* border-radius: 20px; */
        }

    .circle{
        border-radius: 50%;
        background-color: orange;
        padding:15px;
        width:50px ;
        height: 50px;
    } 

        /* #login{
            margin:50px
        } */

@media (min-width: 320px) and (max-width: 480px) {
  
    .section-1{
        margin: 0;
        padding: 0;
        margin-top: 30%;
    }
    
    .self-card{
        width: 70%;
    }

    .health-section{
        margin: 0;
        padding: 0; 
        margin-top: 10%;
    }
    .topic{
        padding-top: 10px;
        padding-left: 10%;
    }
    .coupe{
        padding-top: 0;
    }
    .topic{
        padding-bottom: 0;
    }
    #virtual{
        margin-top: 10%;
    }
    #health{
        font-size: large;
        font-weight: bolder;
    }
    #health-cards{
        margin-bottom: 30px;
    }
    .dialogue{
        width: 70%;
        margin-top: 50%;
    }
    .picholder{
        width: 20%;
    }
    .content{
        padding-left: 5%;
        width: 70%;
    }
  }